:root {
  --green-500: hsl(158, 36%, 37%);
  --green-700: hsl(158, 42%, 18%);
  --black: hsl(212, 21%, 14%);
  --grey: hsl(228, 12%, 48%);
  --cream: hsl(30, 38%, 92%);
  --white: hsl(0, 0%, 100%);

  --font-size-p: 14px;

  --primary-font: "Montserrat", Arial, sans serif;
  --secondary-font: "Fraunces", Arial, sans serif;

  --primary-weight-medium: 500;
  --primary-weight-bold: 700;
  --secondary-weight-bold: 700;
}

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  min-height: 100vh;
  font-family: var(--primary-font);
  background-color: var(--cream);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.card {
  max-width: 600px;
  display: flex;
  background-color: var(--white);
  border-radius: 10px;
  overflow: hidden;
}

.card__img-container {
  width: 50%;
}

.card__img {
  height: 100%;
  width: 100%;
}

.card__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  width: 50%;
  padding: 32px;
}

.card__category {
  text-transform: uppercase;
  color: var(--grey);
  font-size: 12px;
  letter-spacing: 5px;
}

.card__prd-title {
  font-family: var(--secondary-font);
  font-weight: var(--secondary-weight-bold);
  line-height: 32px;
}

.card__desc {
  font-size: var(--font-size-p);
  color: var(--grey);
  line-height: 21px;
}

.card__price {
  display: flex;
  color: var(--green-500);
  font-family: var(--secondary-font);
  font-weight: var(--secondary-weight-bold);
  font-size: 32px;
}

.card__original-price {
  align-self: center;
  margin-inline-start: 10px;
  color: var(--grey);
  font-family: var(--primary-font);
  font-weight: var(--primary-weight-medium);
  font-size: 12px;
  text-decoration: line-through;
}

.card__btn {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  background-color: var(--green-500);
  color: var(--white);
  cursor: pointer;
  transition: background-color 0.15s;
}

.card__btn:hover {
  background-color: var(--green-700);
}

/* 674px */
@media (max-width: 40rem) {
  .card {
    flex-direction: column;
  }

  .card__img-container {
    width: 100%;
  }

  .card__content {
    width: 100%;
  }
}

/* 375px */
@media (max-width: 23.4375rem) {
  .card__content {
    gap: 1rem;
  }

  .card__category {
    font-size: 10px;
  }
  
  .card__prd-title {
    font-size: 24px;
    line-height: 28px;
  }

  .card__desc {
    font-size: 12px;
    line-height: 18px;
  }

  .card__price {
      font-size: 24px;
  }

  .card__original-price {
    font-size: 10px;
  }

  .card__btn {
    font-size: 13px;
  }
}